apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml

images:
  - name: gym-investire-backoffice-web
    newName: 10.43.181.213:5000/gym-investire-backoffice-web
